.view-paddle-image-carousel .flex-direction-nav a {
  top: 30%;
}
.carousel-info-wrapper {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
.carousel-info-wrapper .views-field-field-carousel-slogan {
  font-size: 2em;
  color: #fff;
  line-height: 2em;
}
.carousel-info-wrapper .views-field-title-link-internal-path a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}
.carousel-info-wrapper .views-field-field-carousel-date {
  background: #fab800;
  color: #000;
  padding: 3px;
  margin-right: 10px;
}
.carousel-info-wrapper .views-field-title-link-internal-path {
  display: inline-block;
}
.carousel-info-wrapper .flex-control-nav li {
  list-style: none;
}
.flex-control-thumbs img {
  padding-top: 6px;
}
.flex-control-thumbs .flex-active {
  border-top: 6px solid #ffcc33;
  padding-top: 0;
}
.flex-control-thumbs li:before {
  content: "";
}
